
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Widly.Models.Customer

<h2>Details</h2>
@if (Model.Name != null)
{
    <li>@Model.Name</li>
    
}

@if (Model.BirthDate.HasValue)
{
    <li>@Model.BirthDate.Value.ToShortDateString()</li>
}



