@model Widly.Views.ViewModel.CustomerViewModel

<br/>
<h3>Customers</h3>
<table class="table table-striped table-hover">
    @foreach (var customer in Model.customers)
    {
        <tr>
            <td>@Html.ActionLink(customer.Name,"Details",new {Id=customer.Id})</td>
        </tr>
    } 
</table>
